# Ambientes Virtuais
venv/
env/
.venv/

# Variáveis de Ambiente (Segurança)
.env
.env.*

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Configurações de IDEs (VS Code, etc.) e SO
.vscode/
.idea/
*.swp
.DS_Store

# Logs 
*.log